<html lang="en"
      layout:decorate="~{_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <header class="d-flex align-items-center mb-3 justify-content-center">
        <span class="fs-3 text-center">Memes from <span id="sever-name" th:text="${serverName}"></span></span>
    </header>
    <nav class="jumbotron text-center">
        <div class="d-flex align-items-center justify-content-center">
            <span class="lead d-flex align-items-center">Select sorting:</span>
            <div class="dropdown" style="padding: 10px 0">
                <a
                        aria-expanded="false"
                        class="btn btn-secondary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        id="dropdownMenuLink"
                        role="button"
                >
                    <span th:text="${sortBy}"/>
                </a>
                <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="?sortByCount=false">by name</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="?sortByCount=true"
                        >by popularity</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="meme-row" class="row d-flex align-items-center">
        <div class="col-md-4" th:each="meme: ${memes}">
            <div class="card mb-4" th:id="${meme.name}">
                <div class="meme-broder">
                    <a target="_blank" th:href="${meme.url}">
                        <img
                                class="card-img-top meme"
                                th:alt="${meme.name}"
                                th:if="${meme.type.name() == 'IMAGE' || meme.type.name() == 'UNKNOWN'}"
                                th:src="${meme.url}"
                        />
                        <video
                                class="card-img-top meme"
                                controls
                                th:alt="${meme.name}"
                                th:if="${meme.type.name() == 'VIDEO'}"
                        >
                            <source th:src="${meme.url}"/>
                        </video>
                    </a>
                </div>
                <div class="card-body">
                    <div class="meme-name text-center" th:text="${meme.name}"/>
                    <div class="meme-sub-name text-center">
                        used <span th:text="${meme.count}"/> times
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/memeList/styles.css}">
    <script async
            crossorigin="anonymous"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
            src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js">
    </script>
    <script>
        Promise.all(Array.from(document.images).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
            var msnry = new Masonry('.row');
            msnry.layout();
        });
    </script>
</div>