<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Memer</title>
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container container-fluid">
            <a class="navbar-brand" th:href="@{~/memer}">Memer</a>
            <button
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarCollapse"
                    data-bs-toggle="collapse"
                    type="button"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto left-top-nav">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" th:href="@{~/memer}"
                        >How to use?</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                                class="nav-link"
                                href="https://discord.com/api/oauth2/authorize?client_id=1016336390583238776&permissions=8&scope=bot%20applications.commands"
                        >Add me to your server</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    <div layout:fragment="content"></div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span
        >Memer by <a href="https://github.com/Haseoo">@Haseoo</a> code is
          available <a href="">here</a></span
        >
    </div>
</footer>
</body>
<script
        crossorigin="anonymous"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
></script>
</html>
