.card {
  border: none;
  background-color: black;
}

.card-body {
  padding-top: 0!important
}

nav.jumbotron {
  margin-bottom: 1em;
}

span.lead {
  margin-right: 1ex;
}

.meme-name {
  font-size: 24pt;
  font-family: "Times New Roman", Times, serif;
}

.sub-meme-name {
  font-size: 12pt;
  font-family: "Times New Roman", Times, serif;
}

.meme {
  height: 100%;
  width: 100%;
  display: block;
  border: solid white 1px;
  border-radius: 0;
}

.meme-broder {
  padding: 20px 20px 0 20px;
}